{
  "presets": [
    ["env", {
      "modules": "umd",
      "targets": {
        "browsers": "> 1%, last 2 versions"
      }
    }]
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  }
}
